.body1{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/blog_thumbnail/gq/GQZO0U1WRW8E1566592359746.jpg);
    background-size: 1300px 1000px;
    position: relative;
    background-repeat: repeat-y;
}
.body2{
    background-color: greenyellow;
}
.body3{
    background-color: yellow;
}
.body4{
    background-color: red;
}
.body5{
    background-color: aqua;
}
img{
    width: 120%;
    height: 120%;
}
header{
    background-color: rgb(71, 33, 33);
}
.logo{
    
    width: 150px;
    height: 90px;
    border-radius: 100%;
}
nav{
    text-align: center;
}
.Menu__opciones{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(71, 33, 33);;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}
.contenido1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.image1{
    width: 200px;
    height: auto;
}
.texto {
    flex: 1;
    padding: 0 20px;
    text-align: right;
}
h2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    background-color: rgb(94, 90, 90);
}
