.body1{
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/blog_thumbnail/gq/GQZO0U1WRW8E1566592359746.jpg);
    background-size: 1000px 800px;
    position: relative;
    background-repeat: repeat-y;
}
.body2{
    background-color: greenyellow;
}
.body3{
    background-color: yellow;
}
.body4{
    background-color: red;
}
.body5{
    background-color: aqua;
}
.bodycomentarios{
    background-color: #7193b8;
}
.cabezera{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: rgb(71, 33, 33);
}
.logo{
    width: 200px;
    height: 100px;
    border-radius: 100%;
}
nav{
    text-align: center;
}
.Menu__opciones:hover{
    color: #007BFF;
}
.Menu__opciones{
    font-family: cursive;
    color: white;
    font-size: 25px;
    border-right: 20px;
    font-weight: lighter;
    padding: 20px;
    font-style: italic;
    text-decoration: none;
}
.contenido1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.image1{
    flex: 1;
    background-size: 100px 1200px;
}
.texto {
    flex: 1;
    padding: 0 20px;
    text-align: right;
}
h2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.p1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    background-color: rgb(94, 90, 90);
}
.boton__comentarios {
    background-color: #7193b8;
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    border-radius: 50%;
    display: inline-block;

}
.comment__form {
    max-width: 600px;
    margin:  auto;
    padding: 20px;
    border-radius: 10px;
}
.comment__form label {
    margin-bottom: 5px;
}
.comment__form input[type="text"],
.comment__form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.comment__form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.logo__pie{
    width: 65px;
    height: 40px;
    margin: -10px 0px -15px 400px;
}
.menu__pie{
    text-align: left;
}

