.body1{
    background-color: cyan;
}
.body2{
    background-color: blue;
}
.body3{
    background-color: rgb(126, 126, 120);
}
.body4{
    background-color: rgb(4, 138, 82);
}
.body5{
    background-color: rgb(255, 153, 0);
}
header{
    background-color: cyan;
}
.cabezera{
    display: flex;
    padding: 20px;
    align-items: center;
}
.logo{
    width: 150px;
    height: 90px;
    border-radius: 100%;
}
.logo__cabezera{
    width: 40px;
    height: 30px;
    margin: 0px 0px 0px 0px;
}
nav{
    text-align: center;
}
.titulo{
    text-align: center;
    margin: 0px -400px 0px 0px;
}
.Menu__opciones{
    font-family: cursive;
    color: black;
    background-color: cyan;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 45px;
}
.contenido{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.image{
    position: relative;
    width: 500px;
    height: 700px;
    margin: -20px 0px -20px -20px;
}
.texto{
    flex: 1;
    padding-left: 30px;
    margin: -550px 0px 0px 0px;
}
h2{
    color: black;
    font-family: cursive;
}
p{
    color: black;
    font-family: cursive;
}
footer{
    padding: 5px 10px;
    font-family: cursive;
    font-size: 30px;
    background-color: rgb(94, 90, 90);
}
